* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* Style the header */
header {
    overflow: hidden;
    background-color: #A30050;
    top: 0;
    height: 52px;
    position: fixed;
    width: 100%;
    padding: 3px;
}


header nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.content {
    padding-top: 55px;
}

.column {
    float: left;
    padding: 10px;
}

/* Left column */
.column.side {
    width: 20%;
}
/* Middle column */
.column.middle {
    width: 80%;
}

/* Change color on hover */
header a:hover {
    background-color: #ddd;
    color: black;
}


footer {
    background-color: #ddd;
    padding: 5px 5px 5px 100px;
    margin: 0;
    clear: both;
    width: 100%;
    height: 255px;
}

header nav {
    float: right;
    padding-top: 10px;
}

footer div {
    width: 31%;
    margin-top: 10px;
}

footer div ul {
    list-style-type: none;
}