body {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 line-height: 1.5;
 font-weight: 400;
 text-align: justify;
}

.maintitle {
    color: #A30050;
    font-weight: 400;
    font-size: 1.375rem
}

a {
     color: #a7024f;
     text-decoration: none;
 }

 li {
     line-height: 2; 
 }