p {
    text-align: justify;
    color: blue;
    font-size: 18px;
}


.box {
    margin: 20px;
    border: 5px solid;
    padding: 10px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

body {
    background: url("../images/background.jfif") repeat  ;
    background-color: beige;
    
    
}
    