/*
p {
    text-align: justify;
    color: blue;
    font-size: 18px;
}
*/


/*
.box {
    margin: 20px;
    border: 5px solid;
    padding: 10px;
    width: 200px;
    height: 200px;
    box-sizing: content-box;
}
*/

/*
#important {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
}
*/
body {
    background: url("../images/background.jfif") repeat  ;
    
}
    